<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="">
            <div class="profile-pic">
                <img src="img/profile-pics/profile-pic-bear.JPG" alt="">
            </div>
            <div class="profile-info">&nbsp;</div>
        </a>
    </div>

    <ul class="main-menu m-t-0">
<!--         <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Home</a>
        </li>
 -->        
        <li>
            <a data-ui-sref="pages.profile.profile-about" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> View Profile</a>
        </li>                
        <li data-ui-sref-active="active">
            <a href="https://github.com/onesimoh/Andamio" target="_blank"><i class="zmdi zmdi-github zmdi-hc-fw"></i> My Github</a>
        </li>
        <li data-ui-sref-active="active">
            <a href="https://www.linkedin.com/in/onesimoh" target="_blank"><i class="zmdi zmdi-linkedin-box zmdi-hc-fw"></i> LinkedIn</a>
        </li>
        <li class="m-t-15 m-l-10">
            My Projects
        </li> 
        <li>
            <a href="https://github.com/onesimoh/Andamio/wiki/Andamio.DAO" target="_blank"><i class="zmdi zmdi-widgets"></i> Andamio.DAO</a>
        </li>                  
</div>
